name: Build and push Docker image

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  PKG_CONFIG_ALLOW_CROSS: 1

jobs:
  build-docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3.5.0
      - uses: swatinem/rust-cache@v2.2.1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.5.0
      - name: Log in to Docker Hub
        uses: docker/login-action@v2.1.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4.3.0
        with:
          images: ${{ secrets.DOCKER_USERNAME }}/${{ github.event.repository.name }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha
            latest
          labels: |
            org.opencontainers.image.source=${{ github.event.repository.clone_url }}
            org.opencontainers.image.revision=${{ github.sha }}
      - name: Build
        run: |
          sudo apt update && sudo apt install musl-tools musl-dev -y
          rustup target add x86_64-unknown-linux-musl
          cargo build --release --target x86_64-unknown-linux-musl
      - name: Push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  build-linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3.5.0
      - uses: swatinem/rust-cache@v2.2.1
      - name: Build
        run: |
          cargo build --release
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            target/release/gptcli
          tag_name: ${{ github.ref }}
          body: |
            ${{ github.ref }}
          prerelease: true

  build-macos:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3.5.0
      - uses: swatinem/rust-cache@v2.2.1
      - name: Build
        run: |
          cargo build --release
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            target/release/gptcli
          tag_name: ${{ github.ref }}
          body: |
            ${{ github.ref }}
          prerelease: true

  build-windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3.5.0
      - uses: swatinem/rust-cache@v2.2.1
      - name: Build
        run: |
          cargo build --release
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            target/release/gptcli.exe
          tag_name: ${{ github.ref }}
          body: |
            ${{ github.ref }}
          prerelease: true
